{% extends 'questions/base.html' %}
{% load crispy_forms_tags %}


{% block title %} Question Details {% endblock %}

{% block style %}

{% endblock %}


{% block body %}
<div class="container mt-3">
    <h1>{{question.title}}</h1>
    <p><i>{{question.body}}</i></p><br>
    <h6>Posted by <i class="text-danger">{{question.author.username }}</i></h6>
     <h6>Published <i class="text-success">{{question.created_at }}</i></h6>
    {% if request.user == question.author %}
    <a class="btn btn-danger mx-3 mt-3" href="{% url 'question-delete' question.slug %}">Delete</a>
    <a class="btn btn-warning mx-3 mt-3" href="{% url 'question-update' question.slug %}">Update</a>
    {%  endif %}
</div>

<!--listing of answers-->
<div class="container">
    {% for answer in answers %}

    <div class="card mt-4 py-3 shadow">
        <div class="card-body">
            <p class="card-text">{{answer.description}}</p>
            <div class="row">
                <div class="col col-md-auto">
                    Answered By: {{answer.author.username}}
                </div>
                <div class="col col-md-auto">
                    Answered  at: {{answer.created_at}}
                </div>
            </div>
         {% if request.user == answer.author %}
            <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'answer-delete' answer.id %}">Delete</a>
            <a class="btn btn-outline-success btn-sm mt-3" href="{% url 'answer-update' answer.id %}">Update</a>
        {%  endif %}
        </div>

    </div>
    {% endfor %}

</div>
<!--adding answer-->
<div class="container">
    <div class="card mt-4 ">
        <form method="post" novalidate>
            <h5 class=" card-header">Add Answer</h5>
            <div class="card-body">
                {% csrf_token %}
                {{answer_form | crispy}}
            </div>
            <input type="submit" value="Add Answer" class="btn btn-primary m-2">
        </form>
    </div>
    <br><hr>
</div>


{% endblock %}